* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url('./assets/Background Image.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: #f4f6fb;
}

#root {
  width: 100%;
  height: 100%;
}
