/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL WIDTH FIX */
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6fb;
}

/* REMOVE VITE CENTER LIMIT */
#root {
  width: 100%;
  height: 100%;
}
